

	<div class="container">
		<div class="row">
			<div class="col-12 imagen-destacada clase-bg"></div>
		</div>
	</div>

	<main class="container">
		<div class="row justify-content-center">
			<div class="col-md-8 py-3 px-5 contenido-nosotros bg-light">
				<h2 class="text-center my-5 separador">Italian Food for newbies</h2>
				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In voluptas quibusdam maxime quis libero eligendi
					ab excepturi voluptatem magni cum. Ab eveniet tempora id iure cum aperiam magni accusamus fugit.</p>

				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In voluptas quibusdam maxime quis libero eligendi
					ab excepturi voluptatem magni cum. Ab eveniet tempora id iure cum aperiam magni accusamus fugit.</p>

				<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. In voluptas quibusdam maxime quis libero eligendi
					ab excepturi voluptatem magni cum. Ab eveniet tempora id iure cum aperiam magni accusamus fugit.</p>
			</div>
		</div><!--.row-->

		<div class="row justify-content-center mt-5">
			<div class="col-md-6">
				<h2 class="text-center my-3 separador">Benefits</h2>
				<ul class="list-group">
					<li class="list-group-item list-group-item-secondary text-light">
						Material of study.
					</li>
					<li class="list-group-item list-group-item-secondary text-light">
						All ingredients.
					</li>
					<li class="list-group-item list-group-item-secondary text-light">
						Individual equipment in kitchen.
					</li>
					<li class="list-group-item list-group-item-secondary text-light">
						Certificate of studies.
					</li>
				</ul>

				<h2 class="text-center my-3 mt-5 separador">Extra information</h2>
				<ul class="list-group">
					<li class="list-group-item list-group-item-primary text-light">
						20 places available.
					</li>
					<li class="list-group-item list-group-item-primary text-light">
						Cost $ 400
					</li>
					<li class="list-group-item list-group-item-primary text-light">
						Start: 25 - 10 -2018
					</li>
					<li class="list-group-item list-group-item-primary text-light">
						20 places available.
					</li>
					<li class="list-group-item list-group-item-primary text-light">
						Hours: 18:00 - 23:00 hours
					</li>
					<li class="list-group-item list-group-item-primary text-light">
						Duration: Monday to Friday for 8 weeks.
					</li>
				</ul>
			</div><!--.col-md-6-->

			<div class="col-md-6 text-center">
				<h2 class="separador text-center mt-5 my-md-3 bg-light">Tutor</h2>
				<div class="row justify-content-center mb-4">
					<div class="col-md-7">
						<img src ="img/instructor.jpg" alt="imagen instructor" class="img-fluid rounded-circle">
						<p class="instructor">
							Pam Smith
						</p>
						<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga magni ipsa laboriosam quisquam minima alias expedita. Voluptatibus iste, voluptates, vero facilis maiores deleniti alias, sed sunt a eos nesciunt atque!</p>
					</div>
				</div>
			</div>
		</div>
	</main><!--.container-->


